.tariff {
  &__table {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #44484E;

      p:nth-child(2),
      p:last-child {
        width: 10%;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}


.table_text {
  color: #fff;
  font-size: 14px;
  width: 60%;
}